.main-navbar
{
    margin-top: 25px;
}

.main-navbar a
{
    font-size: 1.14286em;
    font-weight: 550;
    background-color: transparent;
}
.main-navbar a:hover
{
    color: #e25700;
}
.main-navbar a:last-child
{
    color: #e25700;
}



.main-product
{
    margin-top: 30px;
    margin-bottom: 45px;
    display: flex;
}
.main-product .img
{
    width: auto;
}
.img img
{
    height: 533px;
    object-fit: contain;
}

.product-detail
{
    margin-left: 30px;
}
.title-header-info
{
    display: inline-block;
    border-bottom: 1px solid #333;
}

.price-box
{
    font-size: 1.71429em;
    font-weight: 600;
    margin: 20px 0;
}

.product-description
{
    color: #898989;
    font-size: 15px;
    line-height: 24px;
}

.product-action
{
    margin-top: 20px;
}
.product-action span
{
    display: flex;
    align-items: center;
    color: #252525;
}
.product-action input
{
    width: 50%;
    height: 40px;
    text-align: center;
    margin-left: 8px;
    border: 1px solid #e1e1e1;   
}

.btn
{
    width: 62%;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}
.btn a
{
    font-size: 20px;
    padding: 14px 170px;
}


.social-media
{
    margin-top: 30px;
}
.social-media a
{
    margin-left: 20px;
}
.social-media a:hover
{
    color: #e25700;
    transition: color .4s;
}


.product-content
{
    height: 70vh;
    border: 1px solid #ebebeb;
}